body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    text-align: center;
    padding-top: 2rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}